@tailwind base;
@tailwind components;
@tailwind utilities;

$rhap_theme-color: #10b981 !default; // Color of all buttons and volume/progress indicators
$rhap_font-family: "Rubik", sans-serif !default; // Font family of current time and duration
@import "react-h5-audio-player/src/styles.scss";

html {
  @apply h-full overflow-hidden;
}

body {
  @apply h-full overflow-auto;
}

.rhap_container {
  background-color: transparent;
  box-shadow: none;
  padding: 0px;
  margin-top: 8px;
}

.rhap_play-pause-button {
  margin-bottom: 3px;
}

[data-theme="light"] {
  --timeColour: #334155;
}

[data-theme="dark"] {
  --timeColour: white;
}

.rhap_time {
  font-size: 0.875rem;
  color: var(--timeColour);
}

.rhap_main-controls-button {
  color: #10b981;
}

.rhap_stacked .rhap_controls-section {
  margin-top: 0px;
}

.rhap_progress-bar {
  height: 4px;
}

.rhap_progress-indicator {
  width: 12px;
  height: 12px;
  top: -4px;
}

.rhap_play-pause-button {
  width: 40px;
}

.link_animated {
  animation: backAndForth 5s linear infinite;
}
@keyframes backAndForth {
  55% {
    transform: transtoneX(calc(-100% + 200px));
  }
  90% {
    transform: transtoneX(0);
  }
  100% {
    transform: transtoneX(0);
  }
}

:root {
  --background: theme('colors.white');
  --background-secondary: theme('colors.gray.50');

  --primary-dark: theme('colors.gray.900');
  --primary-medium: theme('colors.gray.700');
  --primary-light: theme('colors.gray.500');
}

[data-theme='dark'] {
  --background: theme('colors.black');
  --background-secondary: theme('colors.gray.800');

  --accent-dark: theme('colors.fuchsia.900');
  --accent-medium: theme('colors.fuchsia.700');
  --accent-light: theme('colors.fuchsia.500');

  --primary-dark: theme('colors.gray.300');
  --primary-medium: theme('colors.gray.200');
  --primary-light: theme('colors.gray.100');
}

[data-theme='emerald'] {
  --background: theme('colors.white');

  --accent-dark: theme('colors.emerald.900');
  --accent-medium: theme('colors.emerald.700');
  --accent-light: theme('colors.emerald.500');
}

[data-theme='pink'] {
  --background: theme('colors.gray.900');
  --background-secondary: theme('colors.gray.800');

  --accent-dark: theme('colors.pink.900');
  --accent-medium: theme('colors.pink.700');
  --accent-light: theme('colors.pink.500');

  --primary-dark: theme('colors.gray.300');
  --primary-medium: theme('colors.gray.200');
  --primary-light: theme('colors.gray.100');
}


@layer utilities {
  /* Scroll thumb styles */
  .scrollbar::-webkit-scrollbar {
    @apply w-[0.3rem];
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-emerald-800;
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    @apply bg-stone-800;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-emerald-900;
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}
